<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Compress image</title>
</head>

<body>
    <form method="POST" action="/compressImage" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" multiple="multiple" required />
        <input type="submit" value="Compress image" />
    </form>
</body>

</html>